.MyRadio {
    display: inline-block;
	width: 100%;
}

.MyRadioCaption {
    font-size: 18px;
    font-weight: bolder;
}

.MyRadio input[type=radio] {
	display: none;
}

.MyRadio label {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	text-align: center;
	outline: 1px solid #999;
	border-radius: 10px;
	user-select: none;
}

.MyRadio input[about=green]:checked + label {
	background: #72DB68;
}
.MyRadio input[about=red]:checked + label {
	background: #FE6263;
}

.MyRadio label[about=green]:hover {
	outline: 3px solid #72DB68;
	background-color: white;
}
.MyRadio label[about=red]:hover {
	outline: 3px solid #FE6263;
	background-color: white;
}