.MyModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.MyModalContent {
    background: linear-gradient(rgba(252, 231, 239, 1) 0.11%, rgba(232, 220, 238, 1) 93.78%);
    border-radius: 10px;
    min-width: 250px;
    opacity: 100%;
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}