.NewWalletModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 600px;
    padding: 30px;
    font-weight: lighter;
    font-size: 18px;
}

.NewWalletModal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RadioArea {
    display: flex;
    gap: 5px;
}

.SubmitButton {
    width: 100%;
    height: 42px;
    margin-top: 25px;
}

.MoneyArea {
    display: flex;
    gap: 5px;
}

.MoneyArea input {
    min-width: none;
    width: 100%;
}
